


a{
    text-decoration: none;
}

.container {
    margin: auto;
    width: 60%;
    border: 3px solid ;
    padding: 10px;
}


#credentials {
    padding-top: 3px;
    padding-bottom: 3px;
}

#logintitle {
    padding-top: 15px;
    padding-bottom: 7.5px;
}

#forgotPasswordContainer {
    padding-top: 15px;
}